/* header.css */
header {
  position: fixed;
  background-color: rgb(249, 246, 241);     
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 2px solid grey;
  width: 100%;
  z-index: 1000;
}

header, nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header nav button {
  margin: 0 10px;
}

.product-logo, .footer-logo {
  width:200px;
  padding: 18px;
}

.product-logo img {
  width: 100%;
}

.nav-bar button {
  width:50px;
  background: none;
  border: none;
  color: black;
  transition: color 0.3s ease, transform 0.3s ease;
}
.nav-bar button i {
  font-size:25px;
}
.nav-bar button:hover {
  color: red;
  transform: scale(1.3);
}


.menu-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.menu-nav li {
  margin: 0 10px;
  font-size: 18px;
  transition: transform 0.3s ease;
}
.menu-nav li:hover{
  transform: scale(1.2);
}
.menu-nav a {
  text-decoration: none;
  color: #000;
  transition: color 0.3s ease, transform 0.3s ease;
}
.menu-nav a:hover {
  color: red;
  transform: scale(1.1);
  text-decoration: none;
}

.search-box {
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: ZoomOut 0.5s ease-out forwards; 
  color: black;
  background-color: red;
  border-radius: 5px;
}

.search-box input {
  width: 100%;
  padding: 10px 8px;
  font-size: 16px;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
}

.search-box input::placeholder {
  color: white;
}
.close-btn {
  cursor: pointer;
  padding: 0 10px;
  color: white;
}

@keyframes ZoomOut {
  from {
    opacity: 0;
    transform: translate(-50%, -100%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
@media only screen and (max-width: 767px){
  header{
      flex-direction: column;
  }
  .menu-nav{
      display: none;
  }
  .search-box{
    width: 50%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  header{
      flex-direction: row;
  }
  .menu-nav{
      display: none;
  }
  .search-box{
    width: 60%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .menu-nav a{
      font-size: 14px;
  }
  .search-box {
      width: 80%;
  }
}
@media only screen and (min-width: 1200px) {
  header{
      flex-direction: row;
  }
  .menu-nav{
      display: block;
  }
  .search-box {
      width: 70%;
  }
}
